FULLNODE_EXT_IP=
FULLNODE_FQDN=

NGINX_ENABLED=true

FRPC_ENABLED=false
# Optional legacy: if set, used for any frpc-*.toml server not set below
FRPS_SERVER_ADDR=
FRPS_SERVER_ADDR_1=virginia.fullnode.testnet.coti.io
FRPS_SERVER_ADDR_2=frankfurt.fullnode.testnet.coti.io
FRPS_SERVER_PORT=7000
FRPC_CUSTOM_DOMAIN=
FRPC_AUTH_TOKEN=
COTI_FULL_NODE_RPC_LOCAL_PORT=8545
