FULLNODE_EXT_IP=
FULLNODE_FQDN=

NGINX_ENABLED=true

FRPC_ENABLED=false
FRPS_SERVER_ADDR=gateway.fullnode.testnet.coti.io
FRPS_SERVER_PORT=7000
FRPC_CUSTOM_DOMAIN=
FRPC_AUTH_TOKEN=
COTI_FULL_NODE_RPC_LOCAL_PORT=8545
